<%- include("../_includes/head") %>

<main id="main" class="w-full %>">
  <%- include("../_includes/header") %>

  <div id="mainContent" class="py-11"><%- content %></div>
  <div id="screenShadow"></div>

  <%- include("../_includes/footer") %>
</main>

<%- include("../_includes/foot") %>
